
.no-right-margin{
  margin-right: 0px;
}
.no-radius{
  border-radius: 0px;
}
.full-height{
  height:-webkit-fill-available;
  border-right:1px solid #c5c0c0;
  padding-right: 0px;
}

ul .glyphicon{
  margin-right:15px;
}


a {
color: #000;
text-decoration: none;
}

a:hover {
color: #000;
text-decoration: none;
}


.nav-stacked>li+li {
margin-top: 0px;
margin-left: 0;
border:none;
}
